body   {
  background-color:#eaeaea;
  background-image: url('../img/papyrus.png');
}
.container{
  width: 900px;
  margin:auto;
  background-color: white;
}
.header{
  padding:8px;
  padding-bottom:10px;
  background-color:grey;
  border-radius:12px;
}
.header a:hover{
  background-color: lightskyblue;
}
nav     {
  width: 58%;
  display: inline-block;
  text-align: right;
  margin:auto;
  background: black;
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 30px;
  position: absolute;
  top:150px;
  left:10px;
  right:10px;
  height: 20px;
}
nav ul   {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
  font-family: 'Patua One', cursive;
  font-size:20px;
  margin-right: 3px;
}
nav ul li a    {
  color: rgb(235, 231, 231);
  text-decoration: none; 
  float: right;
}
.hero{
  height:400px;
  background-image: url('../img/bgcoba.jpg');
  background-size: cover;
  background-position: 0 -100px;
  border-top:5px solid lightskyblue;
  border-radius:15px;

}
.content{
  padding: 20px;
}
.content h2{
  font-size: 28px;
  font-weight: bold;
}
.content p{
  text-align:justify;
  text-indent: 50 px;
}
.footer{
  background-color:#333;
  padding: 20 px;
  text-align: center;
  margin: 5px;
}
.footer .copy{
  color:#eaeaea;

  font-size: 12px;
}